.clients {
    padding-top: 94px;
    padding-bottom: 126px;
    background-color: var(--white);
}

.clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.clients-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: currentColor;
    color: var(--grey);
    transition: color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
    background-color: var(--white);
    fill: var(--grey);
}

.clients-logo:hover,
.clients-logo:focus {
    background-color: var(--white);
    fill: var(--accent-color);
}